<header class="bg-sky-200 p-4">
    <nav>
        <ul class="flex flex-row">
            <li class="p-4">
                <a href="/" class="hover:font-bold">Home</a></li>
            <li class="p-4">
                <a href='/' class="hover:font-bold">Contact</a></li>
        </ul>
    </nav>
</header>